@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  min-height: 100vh;
  overflow-y: scroll;
  color: #fbfbfe;
  background-color: #32323e;
  font-family: 'Cabin', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
}

.scrollbar::-webkit-scrollbar {
  width: 15px;
}

.scrollbar::-webkit-scrollbar-track {
  border: none;
  background: #32323e;
}

.scrollbar::-webkit-scrollbar-thumb {
  border: none;
  background: #1f2126;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  border: none;
  background: #1f2126;
}
